<?xml version="1.0"?>
<launch>
    <!-- <include file="$(find motoman_wpi_moveit_config)/launch/demo.launch" /> -->
    <include file="$(find motoman_sda10f_moveit_config)/launch/demo.launch" />
    
    <rosparam command="load" file="$(find task_controller)/cfg/shelf.yaml" />
    
    <!-- <node pkg="apc_models" type="publish_mesh.py" name="publish_pod" -->
    <!--       args="kiva_pod $(find apc_models)/meshes/pod_lowres.stl $(param /shelf/position/x) $(param /shelf/position/y) $(param /shelf/position/z) $(param /shelf/orientation/x) $(param /shelf/orientation/y) $(param /shelf/orientation/z) $(param /shelf/orientation/w)" /> -->

    <!-- <node pkg="apc_models" type="publish_mesh.py" name="publish_crayola" -->
    <!--       args="crayola $(find apc_models)/meshes/crayola_64_ct.stl 1.0 0.25 1.675 1 0 0 0" /> -->

</launch>
